:root {
    --space1: 4px;
    --space2: 8px;
    --space3: 12px;
    --dark-color: rgb(12, 12, 12);
    --light-color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s linear;
    background-color: var(--dark-color);
    color: var(--light-color);
}

.material-symbols-rounded {
    transition: all 0.5s linear;
    color: var(--light-color);
}

.light-mode {
    background-color: var(--light-color);
    color: var(--dark-color);

    .material-symbols-rounded {
        color: var(--dark-color);
    }
}

header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
    backdrop-filter: blur(10px);

    #toggle-btn {
        border: 0px;
        background-color: inherit;
        display: flex;
        align-items: center;
    }

    #toggle-btn:hover {
        cursor: pointer;
    }

    nav {
        display: flex;
        justify-content: center;

        a {
            padding: var(--space3);
            color: inherit;
            text-decoration: none;
        }
    }
}

#home-section {
    margin-top: 60px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: fadeInUp;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes fadeInUp {
    from {
        transform: translate(0px, 40px);
        opacity: 0;
    }

    to {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

#dynamic-text {
    margin-left: 4px;
}

#skills-section {
    transition: opacity .5s;
    cursor: pointer;
}

#skills-section:hover {
    opacity: 0;
}